<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- template标签 是vue提供给我们的没有实际意义，用来包裹元素用的 -->
        <!-- v-show不支持 -->
        <button @click="flag=!flag">切换</button>
        <template v-if="flag">
            <div>我很帅</div>
            <div>我很帅</div>
            <div>我很帅</div>
        </template>
        <div v-else="flag">我很丑</div>
       
        <!-- 默认情况下在切换dom时相同的结构会被复用，如果不需要复用，需要加key -->
        <button @click="cut=!cut">点击</button>
        <template v-if="cut">
            <label>注册</label>
            <input type="text" key='1'> 
        </template>

        <template v-else>
            <label>登录</label>
            <input type="text" key="2">
        </template>  
    </div>
    <script src="../src/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                flag: true,
                cut: false,  
                a:true,
            }
        })
    </script>
</body>

</html>