<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            <span>名：</span>
            <span>
                <input type="text" v-model='firstName'>
            </span>
        </div>
        <div>
            <span>姓：</span>
            <span>
                <input type="text" v-model='lastName'>
            </span>
        </div>
        <div>
            <div>{{fullname}}</div>
        </div>
    </div>
    <script src="../src/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                firstName: 'Tom',
                lastName: 'Green',  
                fullname: 'Tom Green'
            },  
            watch: {
                firstName: function(val) {
                    this.fullname = val + '' + this.lastName;
                },  
                lastName: function(val) {
                    this.fullname = this.firstName + '' + val;
                }
            }
        });
    </script>
</body>
</html>