<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
    <alert-box>喜欢打球</alert-box>
    <alert-box>喜欢游泳</alert-box>
    <alert-box></alert-box>  
    <base-layout>
        <p slot="hearder">头部信息</p>  
        <p>主要内容1</p>
        <p>主要内容2</p>  
        <p>主要内容3</p> 
        <p slot="footer">底部信息</p>
    </base-layout>

    <base-layout>
        <template slot="hearder">
        <p>头部信息1</p>
        <p>头部信息2</p>
        </template> 
        <p>主要内容1</p>
        <p>主要内容2</p>  
        <p>主要内容3</p> 
        <template slot="footer">
            <p>底部信息1</p>
            <p>底部信息2</p>
        </template>
    </base-layout>
    </div>
    <script src="../src/vue.js"></script>
    <script>
        /* 组件插槽基本用法 */
        Vue.component('alert-box',{
            template: `
            <div>
            <span>张三:</span>   
            <slot>默认内容</slot>
            </div>
            `
        });
        Vue.component('base-layout',{
            template: `
            <div>
            <header>
            <slot name='hearder'></slot>
            </header>
            <main>
            <slot></slot>
            </main>
            <footer>
            <slot name='footer'></slot>
            </footer>
            </div>
            `
        })
        var vm = new Vue({
            el: '#app',
            data: {

            }
        })
    </script>
</body>
</html>